.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  margin-block: 0;
  padding-inline: 0;
}

.link {
  text-decoration: none;
  color: #666666;
  display: block;
  font-size: 1rem;
  position: relative;
}

.list li:hover {
  color: #343434;
  cursor: pointer;
}

.list .active p {
  font-weight: 500;
  color: #343434;
}

.list .active::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: #343434;
  position: absolute;
  bottom: -2px;
  left: 25%;
}
