.profile_container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.profile_container img {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 900px;
  object-fit: cover;
}

.info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding-inline: 2.5rem;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infos p {
  margin: 0;
}

.infos_count {
  color: #343434;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.infos_text {
  color: #666666;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

.bio_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.bio_box h3 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #343434;
}

.bio_box p {
  color: #666666;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  margin: 0;
}

.profile_btn {
  background: #fff6de;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #fa9e31;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease;
}

.profile_btn:hover {
  background: #fa9e31;
  color: #ffffff;
}

/* Media query for max-width 800px */
@media (max-width: 800px) {
  .profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
