.details {
  display: flex;
  flex-direction: column;
  position: relative;
}

.backLink {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  background: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.bg_gradient {
  position: absolute;
  width: 593px;
  height: 340px;
  left: 0px;
  top: 0px;

  background: linear-gradient(
    92deg,
    rgb(0 0 0 / 27%) 45.87%,
    rgba(255, 255, 255, 0) 100%
  );
}

.image {
  height: 340px;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.details_box {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 10rem;
  gap: 1.25rem;
  width: auto;
  max-width: 100%;
}

.details_title_box {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details_title_box h2 {
  margin: 0;
  color: #343434;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.details_title_box p {
  margin: 0;
  color: #666666;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.author_name:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.details_preparation,
.icon_box,
.info_box,
.ingredients_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details_preparation {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.details_time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.details_time p {
  color: #fa9e31;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.details_preparation p {
  background: #fff6de;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  margin: 0;
}

.icon_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons p {
  margin: 0;
  color: #343434;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.icons img {
  width: 24px;
  aspect-ratio: 1;
  cursor: pointer;
  transition: filter 0.3s ease;
  background: #fa9e31;
  /* border-radius: 10px; */
}

.icons img.liked {
  filter: invert(32%) sepia(94%) saturate(7464%) hue-rotate(2deg)
    brightness(96%) contrast(104%);
}

.icons img.saved {
  filter: invert(72%) sepia(63%) saturate(2935%) hue-rotate(3deg)
    brightness(101%) contrast(97%);
}

.info_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: #343434;
}

.info_box h4 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75;
}

.info_box p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

.ingredients_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: #343434;
  width: 100%;
}

.ingredients_box h4 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75;
}

.ingredients_box p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

.ingredients_box ul {
  list-style: none;
  padding: 0;
}

.ingredients_box li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ededed;
}

.ingredients_box li span:first-child {
  color: #343434;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.ingredients_box li span:last-child {
  color: #666666;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  align-self: flex-end;
}

.ingredients_list {
  width: 100%;
}

/* Media query for max-width 1200px */
@media (max-width: 1200px) {
  .details_box {
    padding: 1.25rem 8rem;
  }
}

/* Media query for max-width 1000px */
@media (max-width: 1000px) {
  .details_box {
    padding: 1.25rem 6rem;
  }
}

/* Media query for max-width 800px */
@media (max-width: 800px) {
  .details_box {
    padding: 1.25rem 4rem;
  }
}

/* Media query for max-width 600px */
@media (max-width: 600px) {
  .details_box {
    padding: 1.25rem 2rem;
  }
}
