.search_card {
  width: 200px;
  height: 192px;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: border 0.3s ease;
  border: 2px solid #ffffff;
  background: #fafafa;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  padding: 1rem 2rem;
  transition: all 0.3s ease-in;
}

.search_card:hover {
  border: 2px solid #fa9e31;
}

.search_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
